* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../images/Banner_01.png');
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 200px;
}

header  h1 {font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header p {
    padding-top: 15px;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row{
    float: left;
    margin: 0 auto;
    box-sizing: border-box;
}

.relative{
    position: relative;
}

.clear{
    clear: both;
}

.row1{
    float: left;
    margin: 0 auto;
    box-sizing: border-box;
}

.relative1{
    position: relative;
}

.clearfix{
    clear: both;
}
.color1 h5{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 25px;
    padding: 5px;
}

p {
    font-size: 15px;
    padding: 7px;
    color: rgb(95,112,129);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 16px;
}


[class*="col-"] {
    
    width: 30%;
    box-sizing: border-box;
    margin:20px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    float: left;
    border: 1px solid gray;
}

@media screen and (max-width:768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.button1{
    background-color: rgb(73, 231, 73);
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 13px;    
}

.button2{
    background-color: rgb(57, 161, 196);
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 13px;
}

.button3{
    background-color: rgb(228,58,58);
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 13px;
}

.button {
    background-color: rgb(73, 82, 111);
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 13px;
}

.color1{
    color: rgb(73, 231, 73);
}

.color2{
    color: rgb(57, 161, 196);
}
.color3{
    color: rgb(228,58,58);
}
.color4{
    color: rgb(73, 82, 111);
}
.color5{
    color: rgb(73, 82, 111);
}
.color6{
    color: rgb(73, 82, 111);
}
